PORT=your backend port (8000)
FRONTEND_URL=your frontend route(http://localhost:3000)
BACKEND_URL=your backend route(http://localhost:8000)
DATABASE_URL=your postgress database(postgresql:// -----)
GOOGLE_CLIENT_ID=your google client id(74358.apps.googleusercontent.com)
GOOGLE_CLIENT_SECRET=your google secret key(GOCS--------)

GITHUB_CLIENT_ID=your github client id(O---------)
GITHUB_CLIENT_SECRET=your github secret key(iejgoieij493495809)


GOOGLE_CLIENT_ID_SDK=your google client id for sdk. yes it require another app (oerifjoigntrnbtr)
GOOGLE_CLIENT_SECRET_SDK=your google secret key(0ejtrgiotrjoitr)

GITHUB_CLIENT_ID_SDK=your github client id for sdk. yes it require another app(0iergoigiutrg)
GITHUB_CLIENT_SECRET_SDK=your github secret key(oi0jrtgionhont)


JWT_SECRET=your jwt secret key(secret_key)